name: checks

on:
  push:
    branches:
      - master
      - release-v*
  pull_request: {}
  workflow_dispatch: {}

concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      NODE_OPTIONS: --max_old_space_size=4096
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run prepare and check diff
        run: |
          npm run prepare
          [ -z "$(git status --porcelain)" ] || echo "Repo is not clean, run npm run prepare and commit the updates" && return 1
      - name: Run tests
        run: npm run test
